<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
      <xacro:property name="payload_config" value="$(find addverb_cobot_control)/config/payload_config.yaml" />

      <xacro:property name="payload_params" value="${xacro.load_yaml(payload_config)}" />

      <xacro:property name="control_mode" value="${payload_params['control_mode']}" />
      <xacro:property name="safety_type" value="${payload_params['safety_type']}" />

      <xacro:property name="gripper_type" value="${payload_params['gripper_type']}"/>

      <xacro:property name="payload_status" value="${payload_params['payload_status']}"/>
      
      <xacro:property name="payload_mass" value="${payload_params['payload_mass']}"/>
      <xacro:property name="payload_com" value="${payload_params['payload_com']}"/>
      <xacro:property name="payload_moi" value="${payload_params['payload_moi']}"/>
      
      <xacro:property name="ft_type" value="${payload_params['ft_type']}" />
      <xacro:property name="ft_rot_R1" value="${payload_params['ft_rot']['R1']}"/>
      <xacro:property name="ft_rot_R2" value="${payload_params['ft_rot']['R2']}"/>
      <xacro:property name="ft_rot_R3" value="${payload_params['ft_rot']['R3']}"/>
</robot>