<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="cobot_ros2_control" type="system">
        <hardware>
            <plugin>addverb_cobot_hardware/cobot_hardware_interface</plugin>
            <param name="control_mode">velocity_control_mode</param>
            <param name="use_ros_control">1</param>
            <param name="payload_status">0</param>
            <param name="payload_mass">1</param>
            <param name="gripper_type">1</param>
            <param name="payload_comx">0.01</param>
            <param name="payload_comy">0.01</param>
            <param name="payload_comz">0.01</param>
            <param name="payload_ixx">0.0005</param>
            <param name="payload_iyy">0.0005</param>
            <param name="payload_izz">0.0005</param>
            <param name="payload_ixy">0.0</param>
            <param name="payload_ixz">0.0</param>
            <param name="payload_iyz">0.0</param>
        </hardware>
    
        <joint name="joint1">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
          <command_interface name="time"/>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <state_interface name="event"/>
        </joint>
  
        <joint name="joint2">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
  
        <joint name="joint3">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
  
        <joint name="joint4">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
  
        <joint name="joint5">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
  
        <joint name="joint6">
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">-1.8</param>
            <param name="max">1.8</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-40</param>
            <param name="max">40</param>
          </command_interface>
  
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
        
         <gpio name="twist_input">
          <command_interface name="frac_del_x"/>
          <command_interface name="frac_del_y"/>
          <command_interface name="frac_del_z"/>
          <command_interface name="frac_del_theta"/>
          <command_interface name="frac_del_phi"/>
          <command_interface name="frac_del_psi"/>
        </gpio>
  
        <gpio name="Gripper">
          <command_interface name="goal_status"/>
          <command_interface name="event_type"/>
          <command_interface name="grasp_force"/>
          <state_interface name="event_status"/> 
        </gpio>
    </ros2_control>
</robot>